/**
  |============================
  | Utils
  |============================
*/
:root {
  /* Colors */
  --main-dark: #212121;
  --main-dark-20:rgba(33, 33, 33, 0.2);
  --secondary-dark: #000000;
  --main-light: #757575;
  --main-light-50: rgba(117, 117, 117, 0.5);
  --primary-light: #FFFFFF;
  --primary-light-10: rgba(255, 255, 255, 0.1);
  --primary-light-30: rgba(255, 255, 255, 0.3);
  --primary-light-60: rgba(255, 255, 255, 0.6);
  --main-accent: #2196F3;
  --main-accent-90: rgba(33, 150, 243, 0.9);
  --secondary-acent: #188CE8;
  --bg-color: #2F303A;
  --bg-color-40: rgba(47, 48, 58, 0.4);
  --bg-color-80: rgba(47, 48, 58, 0.8);
  --bg-color-light: #F5F4FA;
  --header-border: #ECECEC;
  --main-border: #EEEEEE;
  --secondary-dark-6: rgba(0, 0, 0, 0.06);
  --secondary-dark-8: rgba(0, 0, 0, 0.08);
  --secondary-dark-10: rgba(0, 0, 0, 0.1);
  --secondary-dark-12: rgba(0, 0, 0, 0.12);
  --secondary-dark-14: rgba(0, 0, 0, 0.14);
  --secondary-dark-15: rgba(0, 0, 0, 0.15);
  --secondary-dark-16: rgba(0, 0, 0, 0.16);
  --secondary-dark-20: rgba(0, 0, 0, 0.2);
  --bg-hero: #C4C4C4;
  --main-icon-color: #AFB1B8;
  /* Fonts */
  --main-font: "Roboto";
  --secondary-font: "Raleway";
  --medium-weight: 500;
  --bold-weight: 700;
  --black-weight: 900;
  /* Other */
  --time-dur: 250ms;
  --time-func: cubic-bezier(0.4, 0, 0.2, 1);
}

/**
  |============================
  | Base
  |============================
*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font), sans-serif;
  color: var(--main-dark);
  background-color: var(--primary-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

textarea {
  resize: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/**
  |============================
  | Components
  |============================
*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;
  font-weight: var(--bold-weight);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/**
  |============================
  | Header
  |============================
*/
.header {
  border-bottom: 1px solid var(--header-border);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header__contacts__item:not(:last-child) {
  margin-right: 50px;
}

.header__contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--main-light);
  font-weight: var(--medium-weight);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color var(--time-dur) var(--time-func);
  transition: color var(--time-dur) var(--time-func);
}
.header__contacts__link:hover, .header__contacts__linkfocus {
  color: var(--main-accent);
}
.header__contacts__link:hover .header__contacts__icon, .header__contacts__link:focus .header__contacts__icon {
  fill: var(--main-accent);
}

.header__contacts__icon {
  fill: var(--main-light);
  -webkit-transition: fill var(--time-dur) var(--time-func);
  transition: fill var(--time-dur) var(--time-func);
}

.logo {
  font-family: var(--secondary-font), sans-serif;
  font-weight: var(--bold-weight);
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__color {
  color: var(--main-accent);
}

.header__logo {
  color: var(--secondary-dark);
  margin-right: 93px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--primary-light);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-dark);
  font-weight: var(--medium-weight);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color var(--time-dur) var(--time-func);
  transition: color var(--time-dur) var(--time-func);
  position: relative;
}
.nav__link:hover, .nav__link:focus {
  color: var(--main-accent);
}
.nav__link--current {
  color: var(--main-accent);
}
.nav__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--main-accent);
  border-radius: 2px;
}

/**
  |============================
  | Hero
  |============================
*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-hero);
  background-image: -webkit-gradient(linear, left top, right top, from(var(--bg-color-40)), to(var(--bg-color-40))), url(../img/hero.jpg);
  background-image: linear-gradient(to right, var(--bg-color-40), var(--bg-color-40)), url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;
  color: var(--primary-light);
  font-weight: var(--black-weight);
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  color: var(--primary-light);
  background-color: var(--main-accent);
  font-family: inherit;
  font-weight: var(--bold-weight);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: background-color var(--time-dur) var(--time-func);
  transition: background-color var(--time-dur) var(--time-func);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--secondary-acent);
}

/**
  |============================
  | What we do
  |============================
*/
.directions {
  padding-top: 0;
}

.directions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.directions__item {
  position: relative;
}

.directions__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 27px 0;
  color: var(--primary-light);
  background-color: var(--bg-color-80);
  font-weight: var(--bold-weight);
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/**
  |============================
  | Advances
  |============================
*/
.advances__title--visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.advances__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.advances__item {
  width: calc(100% - 22.5px);
}

.advances__wrapper {
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: var(--bg-color-light);
}

.advances__subtitle {
  margin-bottom: 10px;
  font-weight: var(--bold-weight);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advances__description {
  color: var(--main-light);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/**
  |============================
  | Team
  |============================
*/
.team {
  background-color: var(--bg-color-light);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.team__item {
  width: calc(100% - 22.5px);
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px var(--secondary-dark-12), 0px 1px 1px var(--secondary-dark-14), 0px 2px 1px var(--secondary-dark-20);
          box-shadow: 0px 1px 3px var(--secondary-dark-12), 0px 1px 1px var(--secondary-dark-14), 0px 2px 1px var(--secondary-dark-20);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-light);
}

.team__foto {
  margin-bottom: 30px;
}

.team__employee {
  margin-bottom: 10px;
  font-weight: var(--medium-weight);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__position {
  margin-bottom: 16px;
  color: var(--main-light);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/**
  |============================
  | Socials
  |============================
*/
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color var(--time-dur) var(--time-func);
  transition: background-color var(--time-dur) var(--time-func);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--main-accent);
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: var(--primary-light);
}
.socials__link--theme-dark {
  background-color: var(--primary-light-10);
}

.socials__icon {
  fill: var(--main-icon-color);
  -webkit-transition: fill var(--time-dur) var(--time-func);
  transition: fill var(--time-dur) var(--time-func);
}
.socials__icon--theme-dark {
  fill: var(--primary-light);
  -webkit-transition: fill var(--time-dur) var(--time-func);
  transition: fill var(--time-dur) var(--time-func);
}

/**
  |============================
  | Clients
  |============================
*/
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: transparent;
  border: 1px solid var(--main-icon-color);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  -webkit-transition: border-color var(--time-dur) var(--time-func);
  transition: border-color var(--time-dur) var(--time-func);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--main-accent);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--main-accent);
}

.clients__icon {
  fill: var(--main-icon-color);
  -webkit-transition: fill var(--time-dur) var(--time-func);
  transition: fill var(--time-dur) var(--time-func);
}

/**
  |============================
  | Footer
  |============================
*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color);
}

.footer__contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__contacts__address {
  display: inline-block;
  color: var(--primary-light);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-transition: color var(--time-dur) var(--time-func);
  transition: color var(--time-dur) var(--time-func);
}
.footer__contacts__address:hover, .footer__contacts__address:focus {
  color: var(--main-accent);
}

.footer__contacts__link {
  display: inline-block;
  color: var(--primary-light-60);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-transition: color var(--time-dur) var(--time-func);
  transition: color var(--time-dur) var(--time-func);
}
.footer__contacts__link:hover, .footer__contacts__link:focus {
  color: var(--main-accent);
}

.footer__subtitle {
  margin-bottom: 20px;
  display: block;
  font-weight: var(--bold-weight);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-light);
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.contact-wrapper {
  margin-right: 70px;
}

.sign-up-wrapper {
  margin-left: auto;
}

.sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.sign-up-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  padding: 14px 17px;
  width: 358px;
  outline: transparent;
  background-color: transparent;
  border: 1px solid var(--primary-light-30);
  -webkit-filter: drop-shadow(0px 4px 4px var(--secondary-dark-15));
          filter: drop-shadow(0px 4px 4px var(--secondary-dark-15));
  color: var(--primary-light-60);
}
.sign-up-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary-light-60);
}
.sign-up-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary-light-60);
}
.sign-up-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary-light-60);
}
.sign-up-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary-light-60);
}
.sign-up-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary-light-60);
}

.footer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 10px;
  border: none;
  padding: 10px 28px;
  background: var(--main-accent);
  -webkit-box-shadow: 0px 4px 4px var(--secondary-dark-15);
          box-shadow: 0px 4px 4px var(--secondary-dark-15);
  border-radius: 4px;
  font-weight: var(--bold-weight);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-light);
}

/**
  |============================
  | Portfolio
  |============================
*/
.works__title--visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filter {
  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;
  border: none;
  background-color: var(--bg-color-light);
  font-family: inherit;
  font-weight: var(--medium-weight);
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  -webkit-transition: color var(--time-dur) var(--time-func), background-color var(--time-dur) var(--time-func), -webkit-box-shadow var(--time-dur) var(--time-func);
  transition: color var(--time-dur) var(--time-func), background-color var(--time-dur) var(--time-func), -webkit-box-shadow var(--time-dur) var(--time-func);
  transition: color var(--time-dur) var(--time-func), background-color var(--time-dur) var(--time-func), box-shadow var(--time-dur) var(--time-func);
  transition: color var(--time-dur) var(--time-func), background-color var(--time-dur) var(--time-func), box-shadow var(--time-dur) var(--time-func), -webkit-box-shadow var(--time-dur) var(--time-func);
}
.filter:hover, .filter:focus {
  color: var(--primary-light);
  background-color: var(--main-accent);
  -webkit-box-shadow: 0px 3px 1px var(--secondary-dark-10), 0px 1px 2px var(--secondary-dark-8), 0px 2px 2px var(--secondary-dark-12);
          box-shadow: 0px 3px 1px var(--secondary-dark-10), 0px 1px 2px var(--secondary-dark-8), 0px 2px 2px var(--secondary-dark-12);
}

.works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.work {
  position: relative;
  text-decoration: none;
  display: block;
  outline: transparent;
  -webkit-transition: -webkit-box-shadow var(--time-dur) var(--time-func);
  transition: -webkit-box-shadow var(--time-dur) var(--time-func);
  transition: box-shadow var(--time-dur) var(--time-func);
  transition: box-shadow var(--time-dur) var(--time-func), -webkit-box-shadow var(--time-dur) var(--time-func);
}
.work:hover, .work:focus {
  -webkit-box-shadow: 0px 1px 1px var(--secondary-dark-12), 0px 4px 4px var(--secondary-dark-6), 1px 4px 6px var(--secondary-dark-16);
          box-shadow: 0px 1px 1px var(--secondary-dark-12), 0px 4px 4px var(--secondary-dark-6), 1px 4px 6px var(--secondary-dark-16);
}
.work:hover .work-text, .work:hover .work-thumb::before, .work:focus .work-text, .work:focus .work-thumb::before {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.work-description {
  padding: 20px 24px;
  border-right: 1px solid var(--main-border);
  border-bottom: 1px solid var(--main-border);
  border-left: 1px solid var(--main-border);
}

.work-thumb {
  position: relative;
  overflow: hidden;
}
.work-thumb::before {
  position: absolute;
  content: "";
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-accent-90);
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
  -webkit-transition: -webkit-transform var(--time-dur) var(--time-func);
  transition: -webkit-transform var(--time-dur) var(--time-func);
  transition: transform var(--time-dur) var(--time-func);
  transition: transform var(--time-dur) var(--time-func), -webkit-transform var(--time-dur) var(--time-func);
}

.work-text {
  position: absolute;
  top: 63px;
  left: 24px;
  display: inline-block;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--primary-light);
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  -webkit-transition: -webkit-transform var(--time-dur) var(--time-func);
  transition: -webkit-transform var(--time-dur) var(--time-func);
  transition: transform var(--time-dur) var(--time-func);
  transition: transform var(--time-dur) var(--time-func), -webkit-transform var(--time-dur) var(--time-func);
}

.work-title {
  margin-bottom: 4px;
  color: var(--main-dark);
  font-weight: var(--bold-weight);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-type {
  color: var(--main-light);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

/**
  |============================
  | Modal
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-40);
  -webkit-transition: opacity var(--time-dur) var(--time-func), visibility var(--time-dur) var(--time-func), -webkit-transform var(--time-dur) var(--time-func);
  transition: opacity var(--time-dur) var(--time-func), visibility var(--time-dur) var(--time-func), -webkit-transform var(--time-dur) var(--time-func);
  transition: opacity var(--time-dur) var(--time-func), visibility var(--time-dur) var(--time-func), transform var(--time-dur) var(--time-func);
  transition: opacity var(--time-dur) var(--time-func), visibility var(--time-dur) var(--time-func), transform var(--time-dur) var(--time-func), -webkit-transform var(--time-dur) var(--time-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background: var(--primary-light);
  -webkit-box-shadow: 0px 1px 3px var(--secondary-dark-12), 0px 1px 1px var(--secondary-dark-14), 0px 2px 1px var(--secondary-dark-20);
          box-shadow: 0px 1px 3px var(--secondary-dark-12), 0px 1px 1px var(--secondary-dark-14), 0px 2px 1px var(--secondary-dark-20);
  padding: 40px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background: var(--primary-light);
  border: 1px solid var(--secondary-dark-10);
  -webkit-transition: fill var(--time-dur) var(--time-func);
  transition: fill var(--time-dur) var(--time-func);
}
.modal-close-button:hover, .modal-close-button:focus {
  fill: var(--main-accent);
}

.modal-title {
  font-weight: var(--bold-weight);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-dark);
  margin-bottom: 12px;
  display: block;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.6);
          transform: translate(-50%, -50%) scale(0.6);
}

.modal-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.modal-label:nth-child(-n+3) {
  margin-bottom: 10px;
}

.modal-label:nth-child(4) {
  margin-bottom: 20px;
}

.modal-label > input,
.modal-label > textarea {
  border: 1px solid var(--main-dark-20);
  border-radius: 4px;
  -webkit-transition: border-color var(--time-dur) var(--time-func);
  transition: border-color var(--time-dur) var(--time-func);
}

.modal-label > input {
  padding: 10px 0;
  padding-left: 35px;
  padding-right: 5px;
}
.modal-label > input:hover, .modal-label > input:focus {
  border-color: var(--main-accent);
  outline: 1px solid transparent;
}
.modal-label > input:hover ~ .modal-icon, .modal-label > input:focus ~ .modal-icon {
  fill: var(--main-accent);
}

.modal-icon {
  position: absolute;
  bottom: 10px;
  left: 12px;
  fill: var(--main-dark);
  -webkit-transition: fill var(--time-dur) var(--time-func);
  transition: fill var(--time-dur) var(--time-func);
}

.modal-label > textarea {
  padding: 11px 15px;
}
.modal-label > textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--main-light-50);
}
.modal-label > textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--main-light-50);
}
.modal-label > textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--main-light-50);
}
.modal-label > textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--main-light-50);
}
.modal-label > textarea::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--main-light-50);
}
.modal-label > textarea:hover, .modal-label > textarea:focus {
  border-color: var(--main-accent);
  outline: 1px solid transparent;
}

.modal-comment {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--main-light);
}

.modal-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-light);
  background-color: var(--main-accent);
  -webkit-box-shadow: 0px 4px 4px var(--secondary-dark-15);
          box-shadow: 0px 4px 4px var(--secondary-dark-15);
  border-radius: 4px;
  border: none;
  padding: 10px 52px;
  cursor: pointer;
  font-weight: var(--bold-weight);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  -webkit-transition: background-color var(--time-dur) var(--time-func);
  transition: background-color var(--time-dur) var(--time-func);
}
.modal-button:hover, .modal-button:focus {
  background-color: var(--secondary-acent);
}

/* Custom checkbox */
.modal-label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

.modal-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.modal-checkbox:checked + .checkbox-custom {
  background-color: var(--main-accent);
  border: none;
}
.modal-checkbox:checked + .checkbox-custom > .checkbox-icon {
  opacity: 1;
}

.checkbox-custom {
  height: 16px;
  width: 15px;
  border: 2px solid var(--main-dark);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color var(--time-dur) var(--time-func), border var(--time-dur) var(--time-func);
  transition: background-color var(--time-dur) var(--time-func), border var(--time-dur) var(--time-func);
}

.checkbox-icon {
  opacity: 0;
  -webkit-transition: opacity var(--time-dur) var(--time-func);
  transition: opacity var(--time-dur) var(--time-func);
  border-radius: 4px;
}

.modal-text {
  color: var(--main-light);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.modal-link {
  color: var(--main-accent);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.modal-label-checkbox {
  margin-bottom: 30px;
}/*# sourceMappingURL=main.css.map */