/**
  |============================
  | Utils
  |============================
*/
:root {
  /* Colors */
  --main-dark: #212121;
  --main-dark-20:rgba(33, 33, 33, 0.2);
  --secondary-dark: #000000;
  --main-light: #757575;
  --main-light-50: rgba(117, 117, 117, 0.5);
  --primary-light: #FFFFFF;
  --primary-light-10: rgba(255, 255, 255, 0.1);
  --primary-light-30: rgba(255, 255, 255, 0.3);
  --primary-light-60: rgba(255, 255, 255, 0.6);
  --main-accent: #2196F3;
  --main-accent-90: rgba(33, 150, 243, 0.9);
  --secondary-acent: #188CE8;
  --bg-color: #2F303A;
  --bg-color-40: rgba(47, 48, 58, 0.4);
  --bg-color-80: rgba(47, 48, 58, 0.8);
  --bg-color-light: #F5F4FA;
  --header-border: #ECECEC;
  --main-border: #EEEEEE;
  --secondary-dark-6: rgba(0, 0, 0, 0.06);
  --secondary-dark-8: rgba(0, 0, 0, 0.08);
  --secondary-dark-10: rgba(0, 0, 0, 0.1);
  --secondary-dark-12: rgba(0, 0, 0, 0.12);
  --secondary-dark-14: rgba(0, 0, 0, 0.14);
  --secondary-dark-15: rgba(0, 0, 0, 0.15);
  --secondary-dark-16: rgba(0, 0, 0, 0.16);
  --secondary-dark-20: rgba(0, 0, 0, 0.2);
  --bg-hero: #C4C4C4;
  --main-icon-color: #AFB1B8;
  /* Fonts */
  --main-font: "Roboto";
  --secondary-font: "Raleway";
  --medium-weight: 500;
  --bold-weight: 700;
  --black-weight: 900;
  /* Other */
  --time-dur: 250ms;
  --time-func: cubic-bezier(0.4, 0, 0.2, 1);
}

/**
  |============================
  | Base
  |============================
*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font), sans-serif;
  color: var(--main-dark);
  background-color: var(--primary-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/**
  |============================
  | Components
  |============================
*/
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.container {
  min-width: 320px;
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/**
  |============================
  | Header
  |============================
*/
.header {
  border-bottom: 1px solid var(--header-border);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts {
  display: block;
  margin-left: auto;
}
@media screen and (max-width: 767.98px) {
  .header__contacts {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.header__contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  color: var(--main-light);
  font-weight: var(--medium-weight);
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color var(--time-dur) var(--time-func);
  transition: color var(--time-dur) var(--time-func);
}
@media screen and (min-width: 1200px) {
  .header__contacts__link {
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts__link {
    font-size: 14px;
    line-height: 1.1;
  }
}
.header__contacts__link:hover, .header__contacts__linkfocus {
  color: var(--main-accent);
}
.header__contacts__link:hover .header__contacts__phoneicon, .header__contacts__link:focus .header__contacts__phoneicon, .header__contacts__link:hover .header__contacts__mailicon, .header__contacts__link:focus .header__contacts__mailicon {
  fill: var(--main-accent);
}

.header__contacts__phoneicon,
.header__contacts__mailicon {
  fill: var(--main-light);
  -webkit-transition: fill var(--time-dur) var(--time-func);
  transition: fill var(--time-dur) var(--time-func);
}

@media screen and (min-width: 1200px) {
  .header__contacts__phoneicon {
    width: 10px;
    height: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts__mailicon {
    width: 16px;
    height: 12px;
  }
}

.header__menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header__menu-btn {
    display: none;
  }
}

.logo {
  font-family: var(--secondary-font), sans-serif;
  font-weight: var(--bold-weight);
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
@media screen and (max-width: 1199.98px) {
  .logo {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo__color {
  color: var(--main-accent);
}

.header__logo {
  color: var(--secondary-dark);
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: var(--primary-light);
}

@media screen and (max-width: 767.98px) {
  .nav {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-dark);
  font-weight: var(--medium-weight);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color var(--time-dur) var(--time-func);
  transition: color var(--time-dur) var(--time-func);
  position: relative;
}
.nav__link:hover, .nav__link:focus {
  color: var(--main-accent);
}
.nav__link--current {
  color: var(--main-accent);
}
.nav__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--main-accent);
  border-radius: 2px;
}

/**
  |============================
  | Hero
  |============================
*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-hero);
  background-image: -webkit-gradient(linear, left top, right top, from(var(--bg-color-40)), to(var(--bg-color-40))), url(../img/hero.jpg);
  background-image: linear-gradient(to right, var(--bg-color-40), var(--bg-color-40)), url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--bg-color-40)), to(var(--bg-color-40))), url(../img/hero/hero-mob@1x.jpg);
  background-image: linear-gradient(to right, var(--bg-color-40), var(--bg-color-40)), url(../img/hero/hero-mob@1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--bg-color-40)), to(var(--bg-color-40))), url(../img/hero/hero-mob@2x.jpg);
    background-image: linear-gradient(to right, var(--bg-color-40), var(--bg-color-40)), url(../img/hero/hero-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--bg-color-40)), to(var(--bg-color-40))), url(../img/hero/hero-tab@1x.jpg);
    background-image: linear-gradient(to right, var(--bg-color-40), var(--bg-color-40)), url(../img/hero/hero-tab@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--bg-color-40)), to(var(--bg-color-40))), url(../img/hero/hero-tab@2x.jpg);
    background-image: linear-gradient(to right, var(--bg-color-40), var(--bg-color-40)), url(../img/hero/hero-tab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--bg-color-40)), to(var(--bg-color-40))), url(../img/hero/hero-desk@1x.jpg);
    background-image: linear-gradient(to right, var(--bg-color-40), var(--bg-color-40)), url(../img/hero/hero-desk@1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--bg-color-40)), to(var(--bg-color-40))), url(../img/hero/hero-desk@2x.jpg);
    background-image: linear-gradient(to right, var(--bg-color-40), var(--bg-color-40)), url(../img/hero/hero-desk@2x.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  color: var(--primary-light);
  font-weight: var(--black-weight);
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero__button {
  padding: 10px 24px;
  border-radius: 4px;
  border: none;
  color: var(--primary-light);
  background-color: var(--main-accent);
  font-family: inherit;
  font-weight: var(--bold-weight);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: background-color var(--time-dur) var(--time-func);
  transition: background-color var(--time-dur) var(--time-func);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--secondary-acent);
}
@media screen and (min-width: desktop) {
  .hero__button {
    padding: 10px 32px;
  }
}

/**
  |============================
  | What we do
  |============================
*/
.directions {
  padding-top: 0;
}
@media screen and (max-width: 1199.98px) {
  .directions {
    display: none;
  }
}

.directions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.directions__item {
  position: relative;
}

.directions__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 27px 0;
  color: var(--primary-light);
  background-color: var(--bg-color-80);
  font-weight: var(--bold-weight);
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/**
  |============================
  | Advances
  |============================
*/
.advances__title--visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.advances__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767.98px) {
  .advances__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .advances__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .advances__item {
    width: calc((100% - 30px) / 2);
  }
}

.advances__wrapper {
  border-radius: 4px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  background-color: var(--bg-color-light);
}

.advances__subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .advances__subtitle {
    text-align: center;
  }
}

.advances__description {
  color: var(--main-light);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/**
  |============================
  | Team
  |============================
*/
.team {
  background-color: var(--bg-color-light);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767.98px) {
  .team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__item {
  padding-bottom: 24px;
  -webkit-box-shadow: 0px 1px 3px var(--secondary-dark-12), 0px 1px 1px var(--secondary-dark-14), 0px 2px 1px var(--secondary-dark-20);
          box-shadow: 0px 1px 3px var(--secondary-dark-12), 0px 1px 1px var(--secondary-dark-14), 0px 2px 1px var(--secondary-dark-20);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-light);
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    padding-bottom: 30px;
  }
}

.team__foto {
  margin-bottom: 30px;
}

.team__employee {
  margin-bottom: 10px;
  font-weight: var(--medium-weight);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__position {
  margin-bottom: 16px;
  color: var(--main-light);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/**
  |============================
  | Socials
  |============================
*/
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color var(--time-dur) var(--time-func);
  transition: background-color var(--time-dur) var(--time-func);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--main-accent);
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: var(--primary-light);
}
.socials__link--theme-dark {
  background-color: var(--primary-light-10);
}

.socials__icon {
  fill: var(--main-icon-color);
  -webkit-transition: fill var(--time-dur) var(--time-func);
  transition: fill var(--time-dur) var(--time-func);
}
.socials__icon--theme-dark {
  fill: var(--primary-light);
  -webkit-transition: fill var(--time-dur) var(--time-func);
  transition: fill var(--time-dur) var(--time-func);
}

/**
  |============================
  | Clients
  |============================
*/
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media screen and (max-width: 1200px) {
  .clients__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.clients__item {
  min-width: 210px;
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    min-width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    min-width: 170px;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: transparent;
  border: 1px solid var(--main-icon-color);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  -webkit-transition: border-color var(--time-dur) var(--time-func);
  transition: border-color var(--time-dur) var(--time-func);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--main-accent);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--main-accent);
}

.clients__icon {
  fill: var(--main-icon-color);
  -webkit-transition: fill var(--time-dur) var(--time-func);
  transition: fill var(--time-dur) var(--time-func);
}

/**
  |============================
  | Footer
  |============================
*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color);
}

.footer__contacts__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__contacts__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__contacts__address {
  display: block;
  color: var(--primary-light);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-transition: color var(--time-dur) var(--time-func);
  transition: color var(--time-dur) var(--time-func);
}
.footer__contacts__address:hover, .footer__contacts__address:focus {
  color: var(--main-accent);
}
@media screen and (max-width: 1199.98px) {
  .footer__contacts__address {
    text-align: center;
  }
}

.footer__contacts__link {
  display: block;
  color: var(--primary-light-60);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-transition: color var(--time-dur) var(--time-func);
  transition: color var(--time-dur) var(--time-func);
}
.footer__contacts__link:hover, .footer__contacts__link:focus {
  color: var(--main-accent);
}
@media screen and (max-width: 1199.98px) {
  .footer__contacts__link {
    text-align: center;
  }
}

.footer__subtitle {
  margin-bottom: 20px;
  display: block;
  font-weight: var(--bold-weight);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-light);
}
@media screen and (max-width: 1199.98px) {
  .footer__subtitle {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 767.98px) {
  .contact-wrapper {
    margin: 0 auto;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-wrapper {
    margin-right: 70px;
  }
}

@media screen and (max-width: 767.98px) {
  .join-wrapper {
    margin: 0 auto;
    margin-bottom: 60px;
  }
}

.sign-up-wrapper {
  margin: 0 auto;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .sign-up-wrapper {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .sign-up-wrapper {
    margin-left: auto;
  }
}

.sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199.98px) {
  .sign-up {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .sign-up {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 12px;
  }
}

.sign-up-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  padding: 14px 17px;
  max-width: 100%;
  height: 50px;
  outline: transparent;
  background-color: transparent;
  border: 1px solid var(--primary-light-30);
  -webkit-filter: drop-shadow(0px 4px 4px var(--secondary-dark-15));
          filter: drop-shadow(0px 4px 4px var(--secondary-dark-15));
  color: var(--primary-light-60);
}
.sign-up-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary-light-60);
}
.sign-up-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary-light-60);
}
.sign-up-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary-light-60);
}
.sign-up-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary-light-60);
}
.sign-up-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary-light-60);
}
@media screen and (min-width: 768px) {
  .sign-up-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .sign-up-input {
    width: 358px;
  }
}

.footer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 12px;
  max-width: 200px;
  height: 50px;
  border: none;
  padding: 10px 28px 10px 31px;
  background: var(--main-accent);
  -webkit-box-shadow: 0px 4px 4px var(--secondary-dark-15);
          box-shadow: 0px 4px 4px var(--secondary-dark-15);
  border-radius: 4px;
  font-weight: var(--bold-weight);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-light);
}
@media screen and (min-width: 1200px) {
  .footer-button {
    gap: 10px;
    padding: 10px 28px;
  }
}

/**
  |============================
  | Portfolio
  |============================
*/
.works__title--visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filter {
  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;
  border: none;
  background-color: var(--bg-color-light);
  font-family: inherit;
  font-weight: var(--medium-weight);
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  -webkit-transition: color var(--time-dur) var(--time-func), background-color var(--time-dur) var(--time-func), -webkit-box-shadow var(--time-dur) var(--time-func);
  transition: color var(--time-dur) var(--time-func), background-color var(--time-dur) var(--time-func), -webkit-box-shadow var(--time-dur) var(--time-func);
  transition: color var(--time-dur) var(--time-func), background-color var(--time-dur) var(--time-func), box-shadow var(--time-dur) var(--time-func);
  transition: color var(--time-dur) var(--time-func), background-color var(--time-dur) var(--time-func), box-shadow var(--time-dur) var(--time-func), -webkit-box-shadow var(--time-dur) var(--time-func);
}
.filter:hover, .filter:focus {
  color: var(--primary-light);
  background-color: var(--main-accent);
  -webkit-box-shadow: 0px 3px 1px var(--secondary-dark-10), 0px 1px 2px var(--secondary-dark-8), 0px 2px 2px var(--secondary-dark-12);
          box-shadow: 0px 3px 1px var(--secondary-dark-10), 0px 1px 2px var(--secondary-dark-8), 0px 2px 2px var(--secondary-dark-12);
}

.works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.work {
  position: relative;
  text-decoration: none;
  display: block;
  outline: transparent;
  -webkit-transition: -webkit-box-shadow var(--time-dur) var(--time-func);
  transition: -webkit-box-shadow var(--time-dur) var(--time-func);
  transition: box-shadow var(--time-dur) var(--time-func);
  transition: box-shadow var(--time-dur) var(--time-func), -webkit-box-shadow var(--time-dur) var(--time-func);
}
.work:hover, .work:focus {
  -webkit-box-shadow: 0px 1px 1px var(--secondary-dark-12), 0px 4px 4px var(--secondary-dark-6), 1px 4px 6px var(--secondary-dark-16);
          box-shadow: 0px 1px 1px var(--secondary-dark-12), 0px 4px 4px var(--secondary-dark-6), 1px 4px 6px var(--secondary-dark-16);
}
.work:hover .work__overlay, .work:focus .work__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.work-description {
  padding: 20px 24px;
  border-right: 1px solid var(--main-border);
  border-bottom: 1px solid var(--main-border);
  border-left: 1px solid var(--main-border);
}

.work-thumb {
  position: relative;
  overflow: hidden;
}

.work__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-accent-90);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--time-dur) var(--time-func);
  transition: -webkit-transform var(--time-dur) var(--time-func);
  transition: transform var(--time-dur) var(--time-func);
  transition: transform var(--time-dur) var(--time-func), -webkit-transform var(--time-dur) var(--time-func);
}

.work-text {
  position: absolute;
  top: 63px;
  left: 24px;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--primary-light);
}

.work-title {
  margin-bottom: 4px;
  color: var(--main-dark);
  font-weight: var(--bold-weight);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-type {
  color: var(--main-light);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px 48px;
  background-color: var(--primary-light);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform var(--time-dur) var(--time-func);
  transition: -webkit-transform var(--time-dur) var(--time-func);
  transition: transform var(--time-dur) var(--time-func);
  transition: transform var(--time-dur) var(--time-func), -webkit-transform var(--time-dur) var(--time-func);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  -webkit-transition: fill var(--time-dur) var(--time-funk);
  transition: fill var(--time-dur) var(--time-funk);
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: var(--main-accent);
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-nav {
  margin-bottom: 302px;
}

.menu-nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-nav-link {
  display: block;
  text-decoration: none;
  font-weight: var(--medium-weight);
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-dark);
}
.menu-nav-link--current {
  color: var(--main-accent);
}

.menu-contacts {
  margin-bottom: 64px;
}

.menu-contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-phone {
  text-decoration: none;
  font-weight: var(--medium-weight);
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-accent);
}

.menu-mail {
  text-decoration: none;
  font-weight: var(--medium-weight);
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-light);
}

.menu-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-socials-item:not(:first-child) {
  margin-left: 10px;
}
.menu-socials-item:not(:last-child) {
  border-right: 1px solid var(--main-dark-20);
  padding-right: 10px;
}

.menu-socials-link {
  text-decoration: none;
  display: block;
  font-weight: var(--medium-weight);
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-accent);
}

/**
  |============================
  | Modal
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-40);
  -webkit-transition: opacity var(--time-dur) var(--time-func), visibility var(--time-dur) var(--time-func), -webkit-transform var(--time-dur) var(--time-func);
  transition: opacity var(--time-dur) var(--time-func), visibility var(--time-dur) var(--time-func), -webkit-transform var(--time-dur) var(--time-func);
  transition: opacity var(--time-dur) var(--time-func), visibility var(--time-dur) var(--time-func), transform var(--time-dur) var(--time-func);
  transition: opacity var(--time-dur) var(--time-func), visibility var(--time-dur) var(--time-func), transform var(--time-dur) var(--time-func), -webkit-transform var(--time-dur) var(--time-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  max-width: 450px;
  min-height: 609px;
  border-radius: 4px;
  background: var(--primary-light);
  -webkit-box-shadow: 0px 1px 3px var(--secondary-dark-12), 0px 1px 1px var(--secondary-dark-14), 0px 2px 1px var(--secondary-dark-20);
          box-shadow: 0px 1px 3px var(--secondary-dark-12), 0px 1px 1px var(--secondary-dark-14), 0px 2px 1px var(--secondary-dark-20);
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background: var(--primary-light);
  border: 1px solid var(--secondary-dark-10);
  -webkit-transition: fill var(--time-dur) var(--time-func);
  transition: fill var(--time-dur) var(--time-func);
}
.modal-close-button:hover, .modal-close-button:focus {
  fill: var(--main-accent);
}

.modal-title {
  font-weight: var(--bold-weight);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-dark);
  margin-bottom: 12px;
  display: block;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.6);
          transform: translate(-50%, -50%) scale(0.6);
}

.modal-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.modal-label:nth-child(-n+3) {
  margin-bottom: 10px;
}

.modal-label:nth-child(4) {
  margin-bottom: 20px;
}

.modal-label > input,
.modal-label > textarea {
  border: 1px solid var(--main-dark-20);
  border-radius: 4px;
  -webkit-transition: border-color var(--time-dur) var(--time-func);
  transition: border-color var(--time-dur) var(--time-func);
}

.modal-label > input {
  padding: 10px 0;
  padding-left: 35px;
  padding-right: 5px;
}
.modal-label > input:hover, .modal-label > input:focus {
  border-color: var(--main-accent);
  outline: 1px solid transparent;
}
.modal-label > input:hover ~ .modal-icon, .modal-label > input:focus ~ .modal-icon {
  fill: var(--main-accent);
}

.modal-icon {
  position: absolute;
  bottom: 10px;
  left: 12px;
  fill: var(--main-dark);
  -webkit-transition: fill var(--time-dur) var(--time-func);
  transition: fill var(--time-dur) var(--time-func);
}

.modal-label > textarea {
  padding: 11px 15px;
}
.modal-label > textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: var(--main-light-50);
}
.modal-label > textarea::-moz-placeholder {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: var(--main-light-50);
}
.modal-label > textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: var(--main-light-50);
}
.modal-label > textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: var(--main-light-50);
}
.modal-label > textarea::placeholder {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: var(--main-light-50);
}
.modal-label > textarea:hover, .modal-label > textarea:focus {
  border-color: var(--main-accent);
  outline: 1px solid transparent;
}
@media screen and (min-width: 1200px) {
  .modal-label > textarea {
    font-size: 12px;
    line-height: 1.2;
  }
}

.modal-comment {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--main-light);
}

.modal-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-light);
  background-color: var(--main-accent);
  -webkit-box-shadow: 0px 4px 4px var(--secondary-dark-15);
          box-shadow: 0px 4px 4px var(--secondary-dark-15);
  border-radius: 4px;
  border: none;
  padding: 10px 52px;
  cursor: pointer;
  font-weight: var(--bold-weight);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  -webkit-transition: background-color var(--time-dur) var(--time-func);
  transition: background-color var(--time-dur) var(--time-func);
}
.modal-button:hover, .modal-button:focus {
  background-color: var(--secondary-acent);
}

/* Custom checkbox */
.modal-label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

.modal-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.modal-checkbox:checked + .checkbox-custom {
  background-color: var(--main-accent);
  border: none;
}
.modal-checkbox:checked + .checkbox-custom > .checkbox-icon {
  opacity: 1;
}

.checkbox-custom {
  height: 16px;
  width: 15px;
  border: 2px solid var(--main-dark);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color var(--time-dur) var(--time-func), border var(--time-dur) var(--time-func);
  transition: background-color var(--time-dur) var(--time-func), border var(--time-dur) var(--time-func);
}

.checkbox-icon {
  opacity: 0;
  -webkit-transition: opacity var(--time-dur) var(--time-func);
  transition: opacity var(--time-dur) var(--time-func);
  border-radius: 4px;
}

.modal-text {
  color: var(--main-light);
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .modal-text {
    font-size: 14px;
    line-height: 1.7;
  }
}

.modal-link {
  color: var(--main-accent);
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .modal-link {
    font-size: 14px;
    line-height: 1.7;
  }
}

.modal-label-checkbox {
  margin-bottom: 30px;
}/*# sourceMappingURL=main.css.map */