/**
  |============================
  | Advances
  |============================
*/
.advances__title--visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.advances__list {
    display: flex;
    gap: 30px;

    @media screen and (max-width:$pre-tablet) {
        flex-direction: column;
    }

    @media screen and (min-width: $tablet) and (max-width:$pre-desktop) {
        flex-wrap: wrap;
    }
}

.advances__item {
    @media screen and (min-width: $tablet) and (max-width:$pre-desktop) {
    width: calc((100% - 30px) / 2);
    }
}

.advances__wrapper {
    border-radius: 4px;
    padding: 25px 190px;
    margin-bottom: 30px;

    background-color: var(--bg-color-light);

    @media screen and (min-width: $tablet) {
        padding: 25px 142px;
    }

    @media screen and (min-width: $desktop) {
        padding: 25px 100px;
    }
}

.advances__subtitle {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and (max-width: $phone){
     text-align: center;
    }
}

.advances__description {
    color: var(--main-light);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}