/**
  |============================
  | Footer
  |============================
*/
.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--bg-color);
}

.footer__contacts__item:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: $desktop) {
        margin-bottom: 9px;
    }
}

.footer__contacts__address {
    display: block;

    color: var(--primary-light);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition: color var(--time-dur) var(--time-func);

    &:hover,
    &:focus {
     color: var(--main-accent);
    }

    @media screen and (max-width: $pre-desktop) {
     text-align: center;
    }
}

.footer__contacts__link {
    display: block;

    color: var(--primary-light-60);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition: color var(--time-dur) var(--time-func);

    &:hover,
    &:focus {
        color: var(--main-accent);
    }

    @media screen and (max-width: $pre-desktop) {
        text-align: center;
    }
}

.footer__subtitle {
    margin-bottom: 20px;
    display: block;

    font-weight: var(--bold-weight);
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-light);

    @media screen and (max-width: $pre-desktop) {
        text-align: center;
    }
}

.footer-wrapper {
    @media screen and (min-width:$tablet) {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.contact-wrapper {
    @media screen and (max-width:$pre-tablet) {
     margin: 0 auto;
     margin-bottom: 60px;
    }

    @media screen and (min-width: $desktop) {
     margin-right: 70px;
    }
}

.join-wrapper {
    @media screen and (max-width: $pre-tablet){
     margin: 0 auto;
     margin-bottom: 60px;
    }
}

.sign-up-wrapper {
    margin: 0 auto;

    @media screen and (min-width:$tablet) and (max-width: $pre-desktop) {
        margin-top: 60px;
    }
   
    @media screen and (min-width: $desktop) {
     margin-left: auto;
    }
}

.sign-up {
    display: flex;
    
    @media screen and (max-width: $pre-desktop){
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    @media screen and (min-width: $desktop) {
      justify-content: center;
      align-items: center;
      gap: 12px;
    }
    
}

.sign-up-input {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 14px 17px;
    max-width: 100%;
    height: 50px;
    outline: transparent;

    background-color: transparent;
    border: 1px solid var(--primary-light-30);
    filter: drop-shadow(0px 4px 4px var(--secondary-dark-15));
    color: var(--primary-light-60);

    &::placeholder {
     font-size: 16px;
     line-height: 1.25;
     letter-spacing: 0.03em;
    
     color: var(--primary-light-60);
    }

    @media screen and (min-width: $tablet) {
        width: 450px;
    }

    @media screen and (min-width: $desktop){
        width: 358px;
    }
}

.footer-button {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 12px;
    max-width: 200px;
    height: 50px;

    border: none;
    padding: 10px 28px 10px 31px;
    background: var(--main-accent);
    box-shadow: 0px 4px 4px var(--secondary-dark-15);
    border-radius: 4px;

    font-weight: var(--bold-weight);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

    cursor: pointer;

    color: var(--primary-light);

    @media screen and (min-width: $desktop) {
        gap: 10px;
        padding: 10px 28px;
    }


}