.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 40px 48px;
    background-color: var(--primary-light);
    z-index: 999;

    transform: translateX(100%);
    transition: transform var(--time-dur) var(--time-func);
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    outline: none;
    transition: fill var(--time-dur) var(--time-funk);

    &:hover,
    &:focus {
        fill: var(--main-accent);
    }

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.menu-nav-item:not(:last-child) {
    margin-bottom: 32px;
}

.menu-nav-link {
   display: block;
   text-decoration: none;
  
    font-weight: var(--medium-weight);
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
    color: var(--main-dark);

    &--current {
        color: var(--main-accent);
    }
}

.menu-contacts {
    margin-bottom: 64px;
}

.menu-contacts-item:not(:last-child) {
    margin-bottom: 32px;
}

.menu-phone {
    text-decoration: none;

    font-weight: var(--medium-weight);
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--main-accent);
}

.menu-mail {
    text-decoration: none;

    font-weight: var(--medium-weight);
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--main-light);
}

.menu-socials {
    display: flex;
}

.menu-socials-item{
    &:not(:first-child) {
     margin-left: 10px;
    }

   &:not(:last-child) {
     border-right: 1px solid var(--main-dark-20);
     padding-right: 10px;
   }
}

.menu-socials-link {
    text-decoration: none;
    display: block;

    font-weight: var(--medium-weight);
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
    color: var(--main-accent);
}